@media only screen and (max-width: 330px) {
    body {
      background-color: rgb(12, 106, 138);
    }

    .superior{
        text-align: center;
        color: white;
    }
    button{
        width: 180px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        color: black;
        font-size: 25px;
        font-style: normal;
    }
    .texto{
      margin-top: 40px;
    }
    .botao{
      font-size: 58px;
      color: white;
      margin-top: 0px;
    }
  }

  